  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="jumbotron jumbo2">
      <h1 class="display-3 font-size-md-down-5 text-white font-weight-semi-bold text-center mt-10 ml-0">À Propos...</h1>
      <p class="lead text-white text-center">Qui sommes nous ?</p>
    </div>

    <center>
    <!-- Icon Blocks Section -->
    <div class="container space-2 space-md-1">
        <div class="col-lg-6 mb-7 mb-lg-0">
          <div class="media d-block d-sm-flex pr-md-4">
            <div class="media-body">
              <h3 class="h5">La naissance</h3>
              <p class="mb-1">Reliev a été créé dans l'idée du bien-être au travail. <br/>
                Le meilleur moyen pour notre équipe de diffuser ce modèle au plus a été de le développer en étroite liaison avec les entreprises.</p>
              <%= link_to "Reliev", root_path, class: "font-size-1" %> <span class="fas fa-angle-right align-middle ml-2"></span>
            </div>
          </div>
        </div><br/><br/>

        <div class="col-lg-6 mb-1 mb-lg-0">
          <div class="media d-block d-sm-flex pr-md-4">
            <div class="media-body">
              <h3 class="h5">L'esprit Reliev</h3>
              <p class="mb-1">Les idées émergent des pensées les plus insouciantes.
                Reliev est né d'un petit groupe de personnes se réunissant pour travailler dûr avec pour outils des ordinateurs et chaises en bois.
                Dans l'esprit Reliev, nous espérons que le monde de demain sera chaque jour nourri de nouveaux systèmes innovants,
                afin d'améliorer la qualité de vie de tous.</p>
              <%= link_to "Reliev", root_path, class: "font-size-1" %> <span class="fas fa-angle-right align-middle ml-2"></span>
            </div>
          </div>
        </div>
    </div>
    <!-- End Icon Blocks Section -->
  </center>


    <center>
      <!-- Contacts Info Section -->
      <div class="clearfix space-1 container">
        <h2 class="mb-5">Ils ont fondé Reliev</h2>
      <div class="row no-gutters">
        <div class="col-sm-6 col-lg-3 u-ver-divider u-ver-divider--none-lg">
          <!-- Contacts Info -->
          <div class="text-center py-5 mt-3">
            <h2 class="h6 mb-0">Raphael Chappert</h2>
          </div>
          <!-- End Contacts Info -->
        </div>
    <!-- End Contacts Info Section -->
    
        <div class="col-sm-6 col-lg-3 u-ver-divider u-ver-divider--none-lg">
           <!-- Contacts Info -->
           <div class="text-center py-5 mt-3">
             <h3 class="h6 mb-0">Josselin Julien</h3>
           </div>
           <!-- End Contacts Info -->
        </div>

        <div class="col-sm-6 col-lg-3 u-ver-divider u-ver-divider--none-lg">
          <!-- Contacts Info -->
          <div class="text-center py-5 mt-3">
            <h3 class="h6 mb-0">Yousri Laïfa</h3>
          </div>
          <!-- End Contacts Info -->
        </div>

        <div class="col-sm-6 col-lg-3 u-ver-divider u-ver-divider--none-lg">
          <!-- Contacts Info -->
          <div class="text-center py-5 mt-3">
            <p class="text-sm mb-0">Remerciments à</p>
            <h3 class="h6 mb-0">Ramzi Laïfa</h3>
          </div>
          <!-- End Contacts Info -->
        </div>
      </div>
    </div>
    <!-- End Contacts Info Section -->
  </center>

  </main>