  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="jumbotron">
      <h1 class="display-3 font-size-md-down-5 text-white font-weight-semi-bold text-center mt-10">Nous contacter</h1>
      <p class="lead text-white text-center">Une question, une suggestion ? Nous sommes à votre écoute.</p>
    </div>

    <div class="container">
      <!-- Title -->
      <div class="w-md-80 w-lg-80 text-center mx-md-auto mb-9">
        <span class="u-label u-label--sm u-label--success mb-3">Laissez-nous un message <i class="fas fa-envelope ml-1"></i></span>
        <h2 class="text-primary font-weight-normal">Racontez-nous votre expérience <span class="font-weight-semi-bold">Reliev</span></h2>
        <p>Que vous ayez des questions, des suggestions ou seulement l'envie de nous dire bonjour,<br>nous sommes toujours joignables.</p>
      </div>
    </div>

   <!-- Contacts Info Section -->
    <div class="clearfix container mt-3">
      <div class="row no-gutters">
        <div class="col-sm-6 col-lg-3 u-ver-divider u-ver-divider--none-lg">
          <!-- Contacts Info -->
          <div class="text-center py-5 mt-3">
              <%= image_tag "icon-8.svg", class:"js-svg-injector svg-size mb-2" %>
            <h2 class="h6 mb-0">Addresse</h2>
            <p class="mb-0">123 rue des Camélias,</p>
            <p class="mb-0">75001 Paris</p>
          </div>
          <!-- End Contacts Info -->
        </div>
    <!-- End Contacts Info Section -->
    
     <div class="col-sm-6 col-lg-3 u-ver-divider u-ver-divider--none-lg">
        <!-- Contacts Info -->
        <div class="text-center py-5 mt-3">
          <%= image_tag "icon-15.svg", class:"js-svg-injector svg-size mb-2" %>
          <h3 class="h6 mb-0">Email</h3>
          <p class="mb-0">contact@reliev.com</p>
        </div>
        <!-- End Contacts Info -->
      </div>

        <div class="col-sm-6 col-lg-3 u-ver-divider u-ver-divider--none-lg">
          <!-- Contacts Info -->
          <div class="text-center py-5 mt-3">
            <%= image_tag "icon-16.svg", class:"js-svg-injector svg-size mb-2" %>
            <h3 class="h6 mb-0">Téléphone</h3>
            <p class="mb-0">+33 (0) 142 35 65 29</p>
          </div>
          <!-- End Contacts Info -->
        </div>

        <div class="col-sm-6 col-lg-3">
          <!-- Contacts Info -->
          <div class="text-center py-5 mt-3">
            <%= image_tag "icon-17.svg", class:"js-svg-injector svg-size mb-2" %>
            <h3 class="h6 mb-0">Fax</h3>
            <p class="mb-0">+33 (0) 142 35 65 29</p>
          </div>
          <!-- End Contacts Info -->
        </div>
      </div>
    </div>
    <!-- End Contacts Info Section -->
  </main>