<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour et bienvenue chez Reliev !</h1>
    <p>
      Vous vous êtes inscrit sur Reliev en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à votre espace client, rendez-vous sur <%= link_to "notre page de connexion", @url %>.
    </p>
    <p> À très vite sur <%= link_to "Reliev", "https://reliev-prod.herokuapp.com/" %> !</p>
  </body>
</html>