<!-- Mockup Block Section -->
<div class="container space-top-2 space-top-md-3 space-bottom-6">
  <!-- Title -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
    <span class="u-label u-label--sm u-label--success mb-2">Notre fonctionnement</span>
    <h2>Comment ça marche ?</h2>
    <p>Un fonctionnement simple pour fluidifier l'activité de chacun.</p>
  </div>
  <!-- End Title -->

  <div class="row justify-content-lg-between align-items-center">
    <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
      <div class="pr-md-4">
        <!-- Info -->
        <div class="media mb-7">
          <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
            <span class="btn-icon__inner">1.</span>
          </span>
          <div class="media-body">
            <h3 class="h5 text-primary">L'inscription de l'entreprise</h3>
            <p>L'entreprise s'inscrit sur la plateforme en renseignant ses informations.</p>
          </div>
        </div>
        <!-- End Info -->

        <!-- Info -->
        <div class="media mb-7">
          <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
            <span class="btn-icon__inner">2.</span>
          </span>
          <div class="media-body">
            <h3 class="h5 text-primary">La réservation des massages</h3>
            <p>Par un système de recherche efficace, l'entreprise peut choisir le professionnel de massage qui lui convient</p>
          </div>
        </div>
        <!-- End Info -->
      </div>
    </div>

    <div id="SVGellipseMockup" class="col-md-6 mb-10">
      <!-- SVG Mockup -->
      <figure class="ie-ellipse-mockup">
        <%= image_tag("alan-caishan-cU53ZFBr3lk-unsplash.jpg", class:"js-svg-injector rounded", style:"width: 100%") %>
      </figure>
      <!-- End SVG Mockup -->
    </div>
  </div>
</div>
<!-- End Mockup Block Section -->

<!-- Mockup Block Section -->
<div class="container">
  <div class="row justify-content-lg-between align-items-center">
    <div class="col-md-6 col-lg-5 order-md-2 mb-7 mb-md-0 mt-6">
      <div class="pl-md-4">
        <!-- Info -->
        <div class="media mb-7">
          <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
            <span class="btn-icon__inner">3.</span>
          </span>
          <div class="media-body">
            <h3 class="h5 text-primary">L'invitation des salariés</h3>
            <p>Via un formulaire simple et intuitif, l'entreprise invite ses salariés en rentrant leur email dans l'application.</p>
          </div>
        </div>
        <!-- End Info -->

        <!-- Info -->
        <div class="media mb-7">
          <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
            <span class="btn-icon__inner">4.</span>
          </span>
          <div class="media-body">
            <h3 class="h5 text-primary">Les séances pour les employés</h3>
            <p>L'employé peut alors accéder à la liste des sessions de massage réservées par son entreprise.</p>
          </div>
        </div>
        <!-- End Info -->
      </div>
    </div>

    <div id="SVGellipseMockupReverse" class="col-md-6 order-md-1">
      <!-- SVG Mockup -->
      <figure class="ie-ellipse-mockup">
        <%= image_tag("camille-brodard-VxAwTeiqDao-unsplash.jpg", class:"js-svg-injector rounded", style:"width: 100%") %>
      </figure>
      <!-- End SVG Mockup -->
    </div>
  </div>
</div>
<!-- End Mockup Block Section -->
<div class="mb-8"></div>