<div class="jumbotron jumbo3">
  <div class="container mt-5">
    <h1 class="display-1 text-primary font-weight-bold mb-0">Reliev</h1>
    <h3 class="display-6 mt-0 mb-0 text-secondary">Quand travailler est un plaisir.</h3>
    <p class="text-dark">Des séances de massage pour vos employés, dans votre entreprise.</p>
    <div class="jumbotron-btn">
      <%= link_to "Vous êtes une entreprise", new_company_registration_path, class:"btn btn-success" %>
      <%= link_to "Vous êtes masseur", new_masseur_registration_path, class:"btn btn-outline-success ml-md-3 " %>
    </div>
  </div>
</div>