<div class="jumbotron jumbo3">
  <div class="container mt-5">
    <h1 class="display-1 text-primary font-weight-bold">Reliev</h1>
    <h3 class="display-6 mt-0 text-muted">Quand travailler est un plaisir.</h3>
    <div class="jumbotron-btn">
      <%= link_to "Vous êtes une entreprise", new_company_registration_path, class:"btn btn-outline-primary" %>
      <%= link_to "Vous êtes masseur", new_masseur_registration_path, class:"btn btn-outline-primary ml-md-3 " %>
    </div>
  </div>
</div>