<!-- Icon Blocks Section -->
<div class="container space-top-2 space-bottom-md-3 space-bottom-2">
  <!-- Title -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
    <span class="u-label u-label--sm u-label--success mb-2">Notre proposition</span>
    <h2>Le bien-être au travail pour tous.</h2>
  </div>
  <!-- End Title -->

  <div class="row">
    <div class="col-md-4 mb-7">
      <div class="text-center px-lg-3">
        <span class="btn btn-icon btn-lg btn-soft-danger rounded-circle mb-5">
          <span class="fab fa-yelp fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
        </span>
        <h3 class="h5">Des professionnels du massage</h3>
        <p class="mb-md-0">Tous nos masseurs sont habilités, diplomés et reconnus par leur profession.</p>
      </div>
    </div>

    <div class="col-md-4 mb-7">
      <div class="text-center px-lg-3">
        <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
          <span class="fas fa-fire fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
        </span>
        <h3 class="h5">Des employés pleinement satisfaits</h3>
        <p class="mb-md-0">90% des salariés ayant pu bénéficier de séances auprès de nos masseurs se sont dits désireux de réitérer l'expérience Reliev.</p>
      </div>
    </div>

    <div class="col-md-4 mb-7">
      <div class="text-center px-lg-3">
        <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
          <span class="fab fa-whmcs fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
        </span>
        <h3 class="h5">Mise en relation entre professionels</h3>
        <p class="mb-md-0">Nous permettons aux entreprises de faire venir dans leurs locaux des masseurs professionnels.</p>
      </div>
    </div>
  </div>

  <%= image_tag("pointer-1.svg", class:"img-fluid d-none d-md-block w-75 mx-auto mb-7") %>

  <!-- Title -->
  <div class="w-md-60 w-lg-50 text-center mx-auto mb-3">
    <h4 class="h5">
      C'est simple, rapide et facile. <span class="font-weight-normal"><br>Demandez à votre entreprise de vous inviter puis laisser-vous transporter...</span>
    </h4>
  </div>
  <!-- End Title -->