.jumbotron{
  height: 500px;
  background-position: bottom;
  background-size: cover;
}
.jumbo1{
  background-image: url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1526&q=80');
}
.jumbo2{
  background-image: url('https://images.unsplash.com/photo-1502444330042-d1a1ddf9bb5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
}
.jumbo3{
  background-image: url('https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}


@media (max-width: 480px) {

  .jumbotron .btn {
    margin-top: 20px;
    color: white;
    background-color: #00c9a7;
  }

  .jumbotron-btn{
    margin-top: 10px;
  }
  
}


@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 4em;
    margin-left: 0
  }

  .jumbotron .btn {
    margin-left: 100px;
    margin-top: 60px;
  }
  
  .jumbotron-btn{
    margin-top: 200px;
  }
}

@media (min-width: 992px) {
  .jumbotron h1 {
    font-size: 6em;
    margin-left: 100px;
  }

  .jumbotron h3 {
    margin-left: 100px;
  }

  .jumbotron .btn {
    margin-left: 100px;
    margin-top: 60px;
  }

  .jumbotron-btn{
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .jumbotron h1 {
    font-size: 8em;
    margin-left: 100px;
  }

  .jumbotron h3 {
    margin-left: 100px;
  }

  .jumbotron .btn {
    margin-left: 100px;
  }
}