<p>Bonjour <%= @resource.email %> !</p>

<p>Quelqu'un a initié l'envoi d'un lien pour changer votre mot de passe. Vous pouvez le changer via le lien ci-dessous.</p>

<p><%= link_to 'Changer de mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si la demande ne provient pas de vous, veuillez ignorer cet email.</p>
<p>Tant que vous n'accedez pas au lien ci-dessus afin de modifier votre mot de passe, il restera inchangé.</p>

<br/>
<p>Cordialement,</p>
<p>L'équipe Reliev.</p>
