<% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert" id="error_explanation">
    <h5><%= pluralize(resource.errors.count, "erreur") %> empêche(nt) la validation du formulaire.</h5>
    <h5>Attention à remplir correctement les champs requis du formulaire.</h5>
  </div>
<% end %>