  <!-- ========== FOOTER ========== -->
<footer class="footer page-footer font-small pt-5" id="footer">
  <!-- logged out -->
  <% if !(employee_signed_in? || masseur_signed_in? || company_signed_in?) %>
    <%= render 'layouts/footer_logged_out' %>
  <!-- Logged in -->
  <% else %>
    <%= render 'layouts/footer_logged_in' %>
  <% end %>

  <!-- Copyright -->
  <div class="container text-center space-1">
    <!-- Logo -->
    <%= link_to root_path, class: "d-inline-flex align-items-center mb-2" do %>
      <span class="brand brand-primary">Reliev</span>
    <% end %>
    <!-- End Logo -->
    <p class="small text-muted">&copy; Reliev. 2020 - Tous droits réservés.</p>
  </div>
  <!-- End Copyright -->
</footer>
<!-- ========== END FOOTER ========== -->
